body{
    background-color: #3a7ca5;
}

section{
    display: flex;
}

p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #b4b7b1;
    margin-bottom: 7px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    height: 2rem;
    width: 2rem;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

.penChoice{
    text-align: center;
}

.title{
    text-align: center;
    font-size: 3em;
    color: #b4b7b1;
}

.sliderValue{
    margin-top: 30px;
    font-size: 1.2rem;
    color: #3a0ca3;
    font-weight: 700;
}

.userInteractions{
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

div.container {
    display: flex;
    width: 700px;
    height: 700px;
    flex-wrap: wrap;
    border: 3px solid black;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.cell {
    border: 1px solid black;
    flex-grow: 1;
}

.clear{
    margin-top: 30px;
    font-size: 2rem;
    color: #b4b7b1;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(58, 124, 165);
    padding: 20px 10px;
    border: 3px solid black;
    border-radius: 30px;
    transition: background-color 0.25s;
}

.clear:hover{
    background-color: #255572 ;
    cursor: pointer;
}